{% extends 'base.html' %}

{% block content %}
<style>
.read-more-link,
.read-more-link p {
    color: #9b5de5;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}

.read-more-link:hover p {
    color: #7c3bdc;
}
</style>

<div class="container py-4">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      {% for item in news %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}"
                class="{% if forloop.first %}active{% endif %}"
                aria-current="{% if forloop.first %}true{% endif %}"
                aria-label="Slide {{ forloop.counter }}">
        </button>
      {% endfor %}
    </div>


    <div class="carousel-inner rounded overflow-hidden">
      {% for item in news %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ item.photo.url }}"
               class="d-block w-100 mx-auto"
               style="height:500px; object-fit:cover; object-position:center;"
               alt="{{ item.title }}">
          <div class="carousel-caption d-none d-md-block bg-black bg-opacity-75 text-white rounded p-3">
            <h5 class="fw-bold">{{ item.title }}</h5>
            <a href="{% url 'news_details' item.id %}" class="read-more-link">
              <p>Haberin devamı için tıklayınız</p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark rounded-circle p-2" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-dark rounded-circle p-2" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
</div>
{% endblock %}
